name: Publish to Maven Central

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create .gnupg directory and import GPG key
        run: |
          mkdir -p ~/.gnupg
          chmod 700 ~/.gnupg
          echo "${{ secrets.GPG_SECRET_KEY }}" | base64 -d > ~/.gnupg/secring.gpg
          chmod 600 ~/.gnupg/secring.gpg

      - name: Publish to Maven Central
        run: |
          echo "Username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}"
          ./gradlew publishAllPublicationsToMavenCentralRepository \
          -PmavenCentralUsername=${{ secrets.MAVEN_CENTRAL_USERNAME }} \
          -PmavenCentralPassword=${{ secrets.MAVEN_CENTRAL_PASSWORD }} \
          -PgpgKeyId=${{ secrets.GPG_KEY_ID }} \
          -PgpgSecretKey=${{ secrets.GPG_SECRET_KEY }} \
          -PgpgPassphrase=${{ secrets.GPG_PASSPHRASE }}
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Available on Maven Central:
            ```kotlin
            dependencies {
                implementation("com.3xcool:kompass:${{ github.ref_name }}")
            }
            ```
          draft: false
          prerelease: false